* {
    background-color: #2E464D;
}

header h1{
    display: flex;
    color: #d694dd;
    justify-content: center;
}

header p{ 
   display: flex;
    color: white;
    justify-content:center;
    text-align: center;
}

.card {

}

.card h2 {
    border: solid;
}

footer {
    display: flex;
    justify-content: center;
    color: #D694DD;
}