:root{
    --text-color:#d694dd;
    --background-color:#2E464D;
    --code-color:white;
}
* {
    background-color:var( --background-color);
}

header h1{
    display: flex;
    color: var(--text-color);
    justify-content:center;
}

header p{ 
   display: flex;
    color: var(--code-color);
    justify-content:center;
    text-align: center;
}

.card {
display: flex;
border-style: dashed;
background-color:var(--background-color);
color:var(--text-color);
}

.card h2 {
    border: solid;
}

footer {
    display: flex;
    justify-content: center;
    color: var(--text-color);
}